.discover-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
// .discover-img img {
//   max-width: 400px;
// }
