@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

.location-container {
	width: 1200px;
	height: 500px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.location-row {
	width: 1200px;
	height: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.experience-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	width: 580px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
}

.experience-container img {
	max-width: 520px;
	width: 100%;
	height: auto;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 150px;
  margin: 1rem;
  position: relative;
  z-index: 1;
  width: 560px;
  margin-top: -10px;
}

.card-5 {
	position: relative;
	z-index: 2;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.experience-title {
	position: relative;
	z-index: 3;
/*	font-family: 'Dancing Script';*/
	font-size: 25px;
	color: #FF4100;
	margin-top: -165px;
	margin-bottom: 120px;
	color: #82878B;
	text-align: center;
	padding: 20px;
}

.experience-quote {
	background-color: white;
	height: 100px;
	max-width: 500px;
	position: absolute;
	z-index: 4;
	font-size: 15px;
	color: #454D53;
	margin-top: 200px;
	margin-bottom: 0px;
	padding-left: 40px;
	padding-right: 40px;
}

.spacer {
	width: 100%;
	height: 350px;
}

.orange-font {
	color: #FF4100;
}
