.user-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	width: 1200px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	background-color: white;
}

.user-header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 600px;
	height: auto;
	border-radius: 2px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 10px;
}

.card-5 {
	position: relative;
	z-index: 2;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.user-image {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 140px;
	height: 150px;
	padding: 10px 10px;
}

.user-image img {
	width: 150px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.user-information {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	width: 400px;
	height: 150px;
	padding: 10px 10px;
}

.bubble-container{
	width: auto;
	height: auto;
	align-items: center;
	align-content: center;
	margin-top: auto;
	margin-bottom: auto;
}

.user-bubble {
	display: flex;
	justify-content: center;
	width: 380px;
	height: 20px;
	padding: 5px 5px;
	color: #82878B;
	border: solid 2px #82878B;
	background-color: white;
	border-radius: 40px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.blue-line-top {
	width: 800px;
	height: 2px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	background-color: #4A97C9;
}

.blue-line-bottom {
	width: 800px;
	height: 2px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	background-color: #4A97C9;
}

.green-line-top {
	width: 800px;
	height: 2px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 35px;
	background-color: #4CB748;
}

.green-line-bottom {
	width: 800px;
	height: 2px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	background-color: #4CB748;
}

.story-name {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
	text-align: center;
	padding: 10px 5px;
	color: #585A5B;
}

.created-by-container {
	width: auto;
	max-height:600px;
	overflow-y: scroll;
	overflow-x: hidden;
	margin-bottom: 35px;
}

.experience-created-container {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	width: 800px;
	height: auto;
	margin-bottom: 20px;
}

.experience-image {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	width: 300px;
	padding: 10px 10px;
}

.experience-image img {
	width: 300px;
	height: auto;
	max-height: 300px;
	border-radius: 4px;
}

.experience-card-container {
	display: flex;
	flex-direction: column;
	width: 380px;
	height: auto;
	border-radius: 2px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}

.experience-name {
	width: 100%;
	height: auto;
	text-align: center;
	font-size: 30px;
	line-height: 35px;
	margin-bottom: 15px;
}

.experience-quote {
	width: 100%;
	height: auto;
	text-align: center;
}


















