.experience-page-container {
	width: 1200px;
	height: auto;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.recipe-image-header {
	width: 650px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	z-index: 1;
}

.recipe-image img {
	border-radius: 2px;
	max-width: 640px;
}

.recipe-image {
	width: 640px;
	height: auto;
	margin-left: 5px;
	margin-right: 5px;
	background-color: red;
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.recipe-header-text-box {
	width: 500px;
	height: auto;
	padding: 10px 10px 10px 10px;
	display: flex;
	flex-direction: column;
	margin-top: -75px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background-color: white;
	border-radius: 2px;
	z-index: 4;
	text-align: center;
	justify-content: center;
}

.center-text {
	text-align: center;
}

.recipe-title {
	margin: 5px 5px 15px 5px;
	font-size: 30px;
}

.horizontal-line {
	width: 400px;
	height: 1px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	background-color: #82878B;
}

.user-header-image img {
	width: 50px;
	height: auto;
	margin-bottom: 5px;
}

.card-5 {
	position: relative;
	z-index: 2;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.orange-line-top {
	width: 800px;
	height: 2px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	background-color: #FF4100;
}

.orange-line-bottom {
	width: 800px;
	height: 2px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	background-color: #FF4100;
}

.blue-line-top {
	width: 800px;
	height: 2px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	background-color: #4A97C9;
}

.blue-line-bottom {
	width: 800px;
	height: 2px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	background-color: #4A97C9;
}

.story-name {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
	text-align: center;
	padding: 10px 5px;
	color: #585A5B;
}

.story-text {
	width: 760px;
	padding-left: 30px;
	padding-right: 30px;
	margin-left: auto;
	margin-right: auto;
}

.ingredients {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 10px;
}


