@import url('https://fonts.googleapis.com/css?family=Poiret+One');

.experience-page-container {
	width: 1200px;
	height: auto;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.recipe-image-header {
	width: 650px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	z-index: 1;
}

.center {
	display: flex;
	flex-direction: column;
	width: 410px;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
}

.recipe-image img {
	border-radius: 2px;
	max-width: 640px;
}

.recipe-image {
	width: 640px;
	height: auto;
	margin-left: 5px;
	margin-right: 5px;
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.recipe-header-text-box {
	width: 500px;
	height: auto;
	padding: 10px 10px 10px 10px;
	display: flex;
	flex-direction: column;
	margin-top: -75px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background-color: white;
	border-radius: 2px;
	z-index: 4;
	text-align: center;
	justify-content: center;
}

.center-text {
	text-align: center;
}

.recipe-title {
	margin: 5px 5px 15px 5px;
	font-size: 30px;
	line-height: 35px;
}

.horizontal-line {
	width: 400px;
	height: 1px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	background-color: #82878B;
}

.user-header-image img {
	width: 50px;
	height: auto;
	margin-bottom: 5px;
}

.card-5 {
	position: relative;
	z-index: 2;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.orange-line-top {
	width: 800px;
	height: 2px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	background-color: #FF4100;
}

.orange-line-bottom {
	width: 800px;
	height: 2px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	background-color: #FF4100;
}

.grey-line-top {
	width: 400px;
	height: 2px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	background-color: grey;
}

.grey-line-enhancement-bottom {
	width: 400px;
	height: 2px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	background-color: grey;
}

.enhancement-name {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
	text-align: center;
	padding: 10px 5px;
	color: #585A5B;
}

.story-text {
	width: 760px;
	padding-left: 30px;
	padding-right: 30px;
	margin-left: auto;
	margin-right: auto;
}

.ingredients {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 10px;
}

.table-width-600 {
	width: 610px;
}

.step-number {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	background-color: #4A97C9;
	height: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	font-size: 15px;
}

.step-text {
	width: 550px;
	height: auto;
	padding: 5px 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
}

.quote-text {
	text-align: center;
	color: #B8BBBD;
	font-family: 'Poiret One';
	font-size: 35px;
	line-height: 40px;
	width: 700px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
}

.green-line-top {
	width: 800px;
	height: 2px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	background-color: #4CB748;
}

.green-line-bottom {
	width: 800px;
	height: 2px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	background-color: #4CB748;
}

.comments-label {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
	text-align: center;
	padding: 10px 5px;
	color: #585A5B;
}

.comment-entry-box {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	text-align: center;
}

.enabled {
	width: 200px;
	height: 45px;
	padding: 5px 5px;
	font-size: 16px;
	color: white;
	background-color: #4CB748;
	border-radius: 6px;
	border-style: none;
	margin-top: 15px;
}

.disabled {
	width: 200px;
	height: 45px;
	padding: 5px 5px;
	font-size: 16px;
	color: white;
	background-color: #B8BBBD;
	border-radius: 6px;
	border-style: none;
	margin-top: 15px;
}

.comment-entry-box textarea {
	width: 750px;
	height: 70px;
	font-size: 18px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 2px;
	border-color: #B8BBBD;
	padding: 10px 10px;
}

.comment-container {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	text-align: center;
}

.comment-outer-container {
	display: flex;
	align-content: center;
	width: 760px;
	height: auto;
	padding: 10px 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: left;
	background-color: #F8F8F8;
	border-radius: 4px;
}

.comment-element {
	height: 100%;
}

.green-button {
	background-color: #4CB748;
	color: white;
	border-style: none;
	border-radius: 4px;
	padding: 2px 2px;
	margin: 3px 3px;
}

.red-button {
	background-color: #FF4100;
	color: white;
	border-style: none;
	border-radius: 4px;
	padding: 2px 2px;
	margin: 3px 3px;
}

.blue-button {
	background-color: #4A97C9;
	color: white;
	border-style: none;
	border-radius: 4px;
	padding: 2px 2px;
	margin: 3px 3px;
}

.center-buttons {
	text-align: center;
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	width: 750px;
	height: auto;
	margin-top: 10px;
	margin-bottom: -25px;
}

.button-wrapper {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.edit-comment {
	text-align: center;
}

.edit-comment textarea {
	width: 750px;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px 5px;
}

.likes-image img {
	height: 30px;
	width: 30px;
	padding-right: 5px;
}

.likes-container {
	display: flex;
	flex-direction: row;
	width: 200px;
	height: auto;
	margin-top: -45px;
	margin-left: 5px;
	position: relative;
	z-index: 5;
}

.likes-counter {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	text-align: center;
}

.blue-line-top {
	width: 800px;
	height: 2px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	background-color: #4A97C9;
}

.grey-line-bottom {
	width: 800px;
	height: 2px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	background-color: #4A97C9;
}

.story-name {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
	text-align: center;
	padding: 10px 5px;
	color: #585A5B;
}

.music-component {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: red;
}

.music-component input {
	width: 350px;
	padding: 5px;
	border-style: solid;
	border-width: 10px;
	border-color: #FF4100;
	border-radius: 25px;
	background-color: #FFFFFF;
	font-size: 20px;
	margin-top: 10px; 
}
